h4{
    font-family:monospace;
    font-size: large;
    background-color: aqua;
    color: blueviolet;
    width:max-content;
align-items: center;

width:200px;
}

#image1{
    width:100px;
    height:150px;
}


#heading,img{
    height: 75px;   
    width: 100px
}
body{
    background-color:darkorchid;
}